@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

body {
	background-image: url("../public/bg.jpg");
	background-size: fill;
	background-repeat: no-repeat;
	font-family: "Space Grotesk", sans-serif;
	background-color: black;
}


.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	border: 3px solid #f3f3f3;
	/* Light grey */
	border-top: 3px solid #3498db;
	/* Blue */
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}


.logo{
	width: 150px;
}
.nav {
	padding: 1.5em;
}



.container{
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 2em;
		
}

.char-card {
	position: relative;
	width: 100%;

	margin-bottom: 3em;
	height: 300px;
}

.card-background {
	position: absolute;
	width: 40%;
	top: 0%;
	left: 0%;
	border-radius: 10px;
	height: 300px;
}

.card-background img {
	position: relative;
	width: 250px;
	rotate: 270deg;
	top: 50%;
	left: 2%;
	translate: -20% -50%;
	opacity: 0.5;
}

.card-info {
	position: absolute;
	width: 70%;
	top: 50%;
	border-radius: 10px;
	left: 80%;
	
	translate: -80% -50%;
	height: 250px;
	background-color: #152535;
}
.card-info .info {
	padding: 0em;
	width: 70%;
	color: white;
	position: absolute;
	top: 20%;
	left: 23%;
}
.films {
overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;

	white-space: pre-wrap;
	
}

.char-img {
	position: absolute;
	width: 170px;
	height: 170px;
	top: 50%;
	left: 15%;
	translate: -15% -50%;
	z-index: 3;
	border-radius: 5px;
}

.close-btn {
	position: absolute;
	right: 0px;
}

.add-char {
		
z-index: 5;
		
position: fixed;
bottom: 7%;
right: 3%;
translate: 0% 10%;
				}
		
				.add-char button {
					background-color: rgb(89, 182, 36);
					outline: 0px;
					font-size: 1em;
					border-radius: 50%;
					height: 70px;
					border: 0px;
					width: 70px;
					display: block;
					margin: auto;
				}
.add-char {
	color: white;
}


@media only screen and (max-width: 1800px) {
	.nav {
			padding: 1.5em;
		}
	
		.char-card {
			position: relative;
			width: 100%;
			margin-bottom: 3em;
			height: 250px;
		}

					
	
		.card-background {
			position: absolute;
			width: 40%;
			top: 0%;
			left: 0%;
			border-radius: 10px;
			height: 250px;
		}
	
		.card-background img {
			position: relative;
			width: 150px;
			rotate: 270deg;
			top: 50%;
			left: 2%;
			translate: -20% -50%;
			opacity: 0.5;
		}
	
		.card-info {
			position: absolute;
			width: 70%;
			top: 50%;
			border-radius: 10px;
			left: 80%;
			translate: -80% -50%;
			height: 200px;
			background-color: #152535;
		}
	
		.card-info .info {
			padding: 0em;
			color: white;
			position: absolute;
			top: 17%;
			left: 27%;
		}
	
		.char-img {
			position: absolute;
			width: 120px;
			height: 120px;
			top: 50%;
			left: 15%;
			translate: -15% -50%;
			z-index: 3;
			border-radius: 5px;
		}
	
		.close-btn {
			position: absolute;
			right: 0px;
		}
	
								.add-char {
				
									z-index: 5;
				
									position: fixed;
									bottom: 7%;
									right: 3%;
				
									translate: 0% 10%;
								}
	
		.add-char button {
			background-color: rgb(89, 182, 36);
			outline: 0px;
			font-size: 1em;
			border-radius: 50%;
			height: 70px;
			border: 0px;
			width: 70px;
			display: block;
			margin: auto;
		}
	
		.add-char {
			color: white;
		}
}

@media only screen and (max-width: 700px) {
	.logo {
			width: 70px;
		}
	.nav {
		padding: 0.5em;
	}

	.char-card {
		position: relative;
		width: 100%;
		margin-bottom: 3em;
		height: 150px;
	}

		.container {
			display: grid;
			grid-template-columns: 100%;
			padding: 1em;
	
		}

	.card-background {
		position: absolute;
		width: 40%;
		top: 0%;
		left: 0%;
		border-radius: 10px;
		height: 150px;
	}

	.card-background img {
		position: relative;
		width: 100px;
		rotate: 270deg;
		top: 50%;
		left: 2%;
		translate: -20% -50%;
		opacity: 0.5;
	}

	.card-info {
		position: absolute;
		width: 70%;
		top: 50%;
		border-radius: 10px;
		left: 80%;
		translate: -80% -50%;
		height: 140px;
		background-color: #152535;
	}

	.card-info .info {
		font-size: 0.7em;
		padding: 0em;
		color: white;
		position: absolute;
		top: 17%;
		left: 27%;
	}

	.char-img {
		position: absolute;
		width: 90px;
		height: 90px;
		top: 50%;
		left: 15%;
		translate: -15% -50%;
		z-index: 3;
		border-radius: 5px;
	}

	.close-btn {
		position: absolute;
		right: 0px;
	}

						.add-char {
			
							z-index: 5;
			
							position: fixed;
							bottom: 7%;
							right: 3%;
			
							translate: 0% 10%;
						}
			
						.add-char button {
							background-color: rgb(89, 182, 36);
							outline: 0px;
							font-size: 0.9em;
							border-radius: 50%;
							height: 50px;
							border: 0px;
							width: 50px;
							display: block;
							margin: auto;
						}

	.add-char {
		color: white;
	}
}